body,div,img{margin:0;padding:0}
body,html{height:100%;}
body{background:#fff;}
.panel-container{
    width: 100%;
    margin: 0 auto;
    font-family: "黑体";
    font-size: 12px;
    text-align: center;
    background: #fff;
    /*overflow-y: scroll;*/
    /*overflow-y: hidden;*/
    /*overflow-x: hidden;*/
    overflow: hidden;
}

h1{
    padding: 0;
    margin: 0 auto;
    /*border: solid 1px #FF0000;*/
}
p{
    padding: 0;
    margin: 0;
    /*border: solid 1px #b479ff;*/
    width: 80%;
    margin: 0 auto;
}

/*-----------------行------------------*/
.row{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.row-12{
    height: 100%;
}
.row-10{
    height: 83.33%;
}
.row-9{
    height: 75%;
}
.row-8{
    height: 66.66%;
}
.row-7{
    height: 58.33%;
}
.row-6{
    height: 50%;
 }
.row-5{
    height: 41.66%;
}
.row-4{
    height: 33.33%;
}
.row-3{
    height: 25%;
}
.row-2{
    height: 16.66%;
}




/*-----------------列------------------*/
.colum{
    height: 100%;
    display: inline-block;
    margin-right: -3px;
    margin-left: -3px;
    padding: 0;
    margin-top: 0;

    /*设为scroll 则每个colum 内部滚动*/
    overflow: scroll;
    /*overflow: hidden;*/

}

.colum img{
    width: 100%;
    background: #FF0000;
}


.colum-12{
    width: 100%;
}
.colum-10{
    width: 83.33%;
}
.colum-9{
    width: 75%;
}
.colum-8{
    width: 66.66%;
}
.colum-7{
    width: 58.33%;
}
.colum-6{
    width: 50%;
}
.colum-5{
    width: 41.66%;
}
.colum-4{
    width:33.33%;
}
.colum-3{
    width:25%;
}
.colum-2{
    width:16%;
}
